<h1>Update {{user.first_name}} {{user.last_name}}:</h1>

<form id="update-user" action="/users" method="post">
      <fieldset>
        <label> First Name:
          <input type="text" maxlength="50" name="first_name" id="first_name" value="{{user.first_name}}" required>
        *</label><br>

        <label>Last Name:
          <input type="text" maxlength="50" name="last_name" id="last_name" value="{{user.last_name}}" required>
        *</label><br>

        <label>Department:
          <select name="department" required>
            <option value="{{user.department}}">{{user.department}}</option>
            <option value="Executive">Executive</option>
            <option value="Admin">Admin</option>
            <option value="Accounting">Accounting</option>
            <option value="Operations">Operations</option>
            <option value="Sales">Sales</option>
            <option value="IT">IT</option>
            <option value="Marketing">Marketing</option>
            <option value="HR">HR</option>
          </select>
        *</label><br>

        <label>Job Title:
          <input type="text" maxlength="75" name="job_title" id="job_title" value="{{user.job_title}}"" required>
        *</label><br>

        <label>Phone Number:
          <input type="tel" name="pref_phone" id="phone_number" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" maxlength="10" value="{{user.pref_phone}}" required>
          <span>* Format: 1234567890</span>
        </label><br>

        <label>Email:
          <input type="email" name="pref_email" id="email" maxlength="65" value="{{user.pref_email}}" required>
        *</label><br>

        <label>Office:
          <select name="home_office" id="location-selector" required>
            {{#each location}}
            <option value="{{Id}}">{{city}}</option>
            {{/each}}
          </select>
        *</label><br>

        <label>Laptop Serial Number:
          <select name="assigned_laptop" id="laptop-selector" required>
          <option value="NULL">No Laptop</option>
            {{#each laptop}}
            <option value="{{Id}}">{{sn}}</option>
            {{/each}}
          </select>
        </label><br>

        <button onclick="updateUser({{user.Id}})">Update User</button>
      </fieldset>
    </form>
    
    <script>
      selectLocation({{user.home_office}});
      selectLaptop({{user.assigned_laptop}});
    </script>